nav {
    height: 600px;
    background: url(../images/bg_header01.jpg) no-repeat center 0;
}

nav .content {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 2px 2px 10px #ccc;
}

nav .content {
    padding: 30px 30px;
}
nav .content p:first-child {
    font-weight: 900;
}

nav .content p:nth-child(2) {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 900;
}

nav .content form {
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

nav .content form .left{
    width: 60px;
    height: 200px;
}
nav .content form .left p {
    float: right;
    font-weight: normal;
    font-size: 12px;
    margin: 10px 0px;
    height: 25px;
    line-height: 25px;
}
nav .content form .right{
    width: 200px;
    height: 200px;
}
nav .content form .right input{
    border: 1px solid #ccc;
    width: 200px;
    height: 25px;
    margin: 10px 0px;
    float: left;
    padding-left: 10px;
    font-size: 12px;
    box-sizing: border-box;
}
nav .content form .right button{
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: #a7c557;
    color: #fff;
    font-weight: 900;
    border-radius: 5px;
    margin-top: 20px;
}
nav .content form .right button:hover{
    background-color: #a7c500;
}
