nav .w {
    position: relative;
}

nav .w ul:nth-child(2) {
    height: 66px;
    margin-top: 30px;
}

nav .w ul:nth-child(2) li {
    float: left;
    margin: 0px 20px;
    width: 80px;
    height: 66px;
}

nav .w ul:nth-child(2) li a {
    display: block;
    width: 80px;
    height: 66px;
}

nav .w ul:nth-child(2) li:nth-child(2) ul li a:hover {
    background: #94b843;
    color: #fff;
}

nav .w ul:nth-child(2) li:first-child a {
    background: url(../images/icon_header.png) no-repeat 0px 0px;
}

nav .w ul:nth-child(2) li:first-child a:hover {
    background: url(../images/icon_header.png) no-repeat 0px -132px;
}

nav .w ul:nth-child(2) li:nth-child(2) a {
    position: absolute;
    z-index: 2;
    background: url(../images/icon_header.png) no-repeat -79px 0px;
}

nav .w ul:nth-child(2) li:nth-child(2) a:hover {
    background: url(../images/icon_header.png) no-repeat -79px -132px;
}

nav .w ul:nth-child(2) li:nth-child(3) a {
    background: url(../images/icon_header.png) no-repeat -158px 0px;
}

nav .w ul:nth-child(2) li:nth-child(3) a:hover {
    background: url(../images/icon_header.png) no-repeat -158px -132px;
}

nav .w ul:nth-child(2) li:nth-child(4) a {
    background: url(../images/icon_header.png) no-repeat -236px 0px;
}

nav ul li:nth-child(4) a:hover {
    background: url(../images/icon_header.png) no-repeat -236px -132px;
}

nav .w ul:nth-child(2) li:nth-child(5) a {
    background: url(../images/icon_header.png) no-repeat -316px 0px;
}

nav .w ul:nth-child(2) li:nth-child(5) a:hover {
    background: url(../images/icon_header.png) no-repeat -316px -132px;
}

nav .w ul:nth-child(2) li:nth-child(6) a {
    display: block;
    width: 130px;
    height: 36px;
    background: url(../images/button.png) no-repeat 0px -330px;
    font-weight: 900;
    color: #e7ffab;
    line-height: 36px;
    padding-left: 25px;
    box-sizing: border-box;
    margin-top: 25px;
}

nav .w ul:nth-child(2) li:nth-child(2) {
    position: relative;
    overflow: hidden;
}

nav .w ul:nth-child(2) li:nth-child(2):hover {
    overflow: visible;
}

nav .w ul:nth-child(2) li:nth-child(2):hover ul {
    top: 66px;
}

nav .w ul:nth-child(2) li:nth-child(2) ul {
    transition: all 0.5s;
    position: absolute;
    top: 0px;
    left: 0;
    text-align: center;
    z-index: 1;
    width: 80px;
    height: 150px;
    border: 1px solid #94b843;
    box-sizing: border-box;
    background-color: #fff;
    margin-top: 0px;
}

nav .w ul:nth-child(2) li:nth-child(2) ul li {
    width: 80px;
    height: 25px;
    margin: 0px;
}

nav .w ul:nth-child(2) li:nth-child(2) ul li a {
    display: block;
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: none;
    font-weight: normal;
    color: #94b843;
    padding: 0px;
    margin-top: 0px;
    font-size: 12px;
}
nav .w ul:nth-child(2) li:nth-child(3){
    position: relative;
    overflow: hidden;
}
nav .w ul:nth-child(2) li:nth-child(3) a{
    position: absolute;
    z-index: 2;
}
nav .w ul:nth-child(2) li:nth-child(3):hover{
    overflow: visible;
}
nav .w ul:nth-child(2) li:nth-child(3):hover ul{
    top: 66px;
}
nav .w ul:nth-child(2) li:nth-child(3) ul{
    transition: all 0.5s;
    width: 80px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    border: 1px solid #94b843;
    box-sizing: border-box;
    margin: 0;
    background: #fff;
}
nav .w ul:nth-child(2) li:nth-child(3) ul li{
    width: 80px;
    height: 25px;
    margin: 0;
}
nav .w ul:nth-child(2) li:nth-child(3) ul li a{
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: none;
    text-align: center;
    font-size: 12px;
    color: #94b843;
}
nav .w ul:nth-child(2) li:nth-child(3) ul li a:hover{
    background: #94b843;
    color: #fff;
}
nav .w ul:nth-child(2) li:nth-child(4){
    position: relative;
    overflow: hidden;
}
nav .w ul:nth-child(2) li:nth-child(4) a{
    position: absolute;
    z-index: 2;
}
nav .w ul:nth-child(2) li:nth-child(4):hover{
    overflow: visible;
}
nav .w ul:nth-child(2) li:nth-child(4):hover ul{
    top: 66px;
}
nav .w ul:nth-child(2) li:nth-child(4) ul{
    transition: all 0.5s;
    width: 80px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    border: 1px solid #94b843;
    box-sizing: border-box;
    margin: 0;
    background: #fff;
}
nav .w ul:nth-child(2) li:nth-child(4) ul li{
    width: 80px;
    height: 25px;
    margin: 0;
}
nav .w ul:nth-child(2) li:nth-child(4) ul li a{
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: none;
    text-align: center;
    font-size: 12px;
    color: #94b843;
}
nav .w ul:nth-child(2) li:nth-child(4) ul li a:hover{
    background: #94b843;
    color: #fff;
}
